.container{
    text-align: center;
    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
}
.container h2{
    font-size: 30px;
    margin: 0;
}
.container h1{
    font-size: 96px;
     margin: 0;
}
.container h3{
    font-weight: normal;
     margin: 0;
}
.container .buttons{
    margin-top: 20px;
}

.container .buttons input{
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    display: inline-flex;
    margin: 30px 30px;
}

.buttons a .abt-me{
    margin-left: 50px;
    background-color: #3477fb;
    color: white;
    height: 50px;
    padding: 10px;
    box-shadow: 0 5px 10px #59595a;
    
}
.buttons a .cntct-me{
    border: 1px solid #3477fb;
    height: 50px;
    color: #3477fb;
    padding: 5px;
    
}
/********************* About Me ************************/
.About{
    width: 100%;
    text-align: center;
}
.About h1{
    font-size: 96px;
    margin: 0;
}
.About h3{
    font-size: 24px;
    margin: 0;
}

.card-wrapper{
    display: flex;
    justify-content: center;
    min-height: 400px;
    align-items: center;
}
.card{
    width: 300px;
    height: 350px; 
    padding: 20px 35px;
    display: block;
    overflow: hidden;
    text-align: center;
    margin: 15px;
    border-radius: 20px;
    background-color: rgb(102, 101, 101);
    color: whitesmoke;
    font-size: 18px;
}
/********************* Contact Me ************************/
.contact{
    width: 100%;
    text-align: center; 
}
.contact h2{
    font-size: 50px;
}